{{#each Search}}
<div class='col-md-4'>
	<img src='http://img.omdbapi.com/?i={{ imdbID }}&apikey=8513e0a1' class='img-responsive'>
	<div>{{ Title }}</div>
	<div>{{ Year }}</div>
	{{!-- <div>{{ Actors }}</div> --}}
	<button class='addFilm' id={{ imdbID }}>
		<span class='glyphicon glyphicon-plus'></span>
	</button> 
	<button class='deleteFilm'>
		<span class='glyphicon glyphicon-minus'></span>
	</button>
		{{#if rating }}
			<input class='stars' id={{ imdbID }} value={{ rating }} />
		{{/if}}
</div>
{{/each}}