{{#each Search}}
<div class='col-md-3' id="movie">
    <button class='delete-movie' id={{ imdbID }}>
        <span class='glyphicon glyphicon-remove-circle'></span>
    </button>
	<img src='http://img.omdbapi.com/?i={{ imdbID }}&apikey=8513e0a1' class='img-responsive'>
	<div>{{ Title }}</div>
	<div>{{ Year }}</div>
	<div>{{ Actors }}</div>
  {{#if added}}
  {{else}}
  <button class='addFilm' id={{ imdbID }}>
    <span class='glyphicon glyphicon-plus'></span>
  </button>
  {{/if}}
  {{#if watched}}
    <span class='glyphicon glyphicon-ok'></span>
  {{else}}
  <button class='watched-movie' id={{ imdbID }}>
      <span class='glyphicon glyphicon-eye-open'></span>
  </button>
  {{/if}}
  <input class='stars'  data-max='10' data-step='1' data-stars='10'  data-size='xs' data-showCaption='false' id={{ imdbID }} />


{{!-- <input id="input-2a" class="rating" data-min="0" data-max="8" data-step="1" data-stars=8
    data-glyphicon="false">
<input id="input-2b" class="rating" data-min="0" data-max="5" data-step="0.5" data-stars=5
    data-symbol="&#xe005;" data-default-caption="{rating} hearts" data-star-captions="{}">
 --}}


</div>
{{/each}}
