{{#each Search}}
<div class='col-md-3' id="movie">
    <button class='delete-movie' id='{{ imdbID }}'>
        <span class='glyphicon glyphicon-remove-circle'></span>
    </button>
	<img src='http://img.omdbapi.com/?i={{ imdbID }}&apikey=8513e0a1' class='img-responsive'>
	<div>{{ Title }}</div>
	<div>{{ Year }}</div>
	<div>{{ Actors }}</div>
  <button class='addFilm' id='{{ imdbID }}'>
    <span class='glyphicon glyphicon-plus'></span>
  </button>
  {{#if watched}}
    <span class='glyphicon glyphicon-ok'></span>
  {{else}}
  <button class='watched-movie' id='{{ imdbID }}'>
      <span class='glyphicon glyphicon-eye-open'></span>
  </button>
  {{/if}}
</div>
{{/each}}

{{!-- {{Poster}} --}}